.add-store-container{
    width: 50vw;
padding: 20px 10px;
    display: block;
    margin: auto;
    margin-top: 30px;
    border-radius: 11px;
    background: #ffffff;
    box-shadow: 5px 5px 25px #f7f7f7,
        -5px -5px 25px #ffffff;
}

.add-store-icon{
    height: 80px;
}
.add-store-header{
    font-size: 1.5rem;
    font-weight: 600;
    color:rgb(114, 114, 114);
}
.add-store-input-container{
    margin-top: 15px !important;
}
.add-store-inputs{
    width: 90%;
    display: block;
    margin: auto;
}
.add-store-alpha-inputs{
    margin-top: 15px !important;
}
.add-store-button{
    margin-top: 30px;
 
}
@media screen and (max-width: 899px) {
    .add-store-container {
        border: unset;
        background-color: white;
        box-shadow: none;
    }
        .add-store-container {
            width: 70vw;
        }
}
